<div class="c-icons">
  <div class="c-icon">
    <i class="material-icons">people</i>
    <p><%= flat.number_of_guests %></p>
  </div>
  <div class="c-icon">
    <i class="material-icons">euro</i>
    <p><%= flat.price_per_night %></p>
  </div>
</div>
